---
import "./css/main.css";
import Layout from "../layouts/Layouts.astro";
import AlxCalendar from "../components/AlxCalendar.jsx"
---
    <!-- <main>
        <nav class="nvcalendar">
            <ul>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-house"></i></a></li>
                <li><button data-tooltip="Opciones"><i class="fa-sharp-duotone fa-solid fa-wrench"></i></button></li>
                <li><button data-tooltip="Editar"><i class="fa-sharp-duotone fa-solid fa-pencil"></i></button></li>
                <li><button data-tooltip="Cambiar Modo"><i class="fa-sharp-duotone fa-solid fa-grid-2"></i></button></li>
            </ul>
        </nav>
    </main>
 -->
<Layout title="Calendario">
    <AlxCalendar client:load/>

</Layout>

    <style is:inline> 
    header {
        display: none !important;
    
    }
    footer {
        display: none;
    }

    .menumobile {
        display: none !important;
    }
</style>

