---
import "./css/main.css";
import Layout from "../layouts/Layouts.astro";
---


<Layout title="Calendario">
    <main>
        <nav class="nvcalendar">

        </nav>
    </main>

</Layout>

    <style is:inline> 
    header {
        display: none !important;
    }
</style>

