---
import "./css/main.css";
import Layout from "../layouts/Layouts.astro";
---


<Layout title="Calendario">
    <main>
        <nav class="nvcalendar">
            <ul>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
                <li><a href=""><i class="fa-sharp-duotone fa-solid fa-map"></i></a></li>
            </ul>
        </nav>
    </main>

</Layout>

    <style is:inline> 
    header {
        display: none !important;
    
    }
    footer {
        display: none;
    }
</style>

